:root {
    --white: #fff;
    --grey: #C6C6C6;
    --black: #000;
    --green: #58DD7E;
}

/* ------------------------------------------------------------------------ */
@media (min-width: 1900px) {
    .navbar-nav a {
        margin-left: 110px;
    }

    .home-block__image img {
        max-width: 15%;
        min-height: 15%;
    }

    .home-block__image2 img {
        max-width: 15%;
        min-height: 15%;
    }
}
/* ------------------------------------------------------------------------ */
@media (min-width: 1800px) {
    .navbar-nav a {
        margin-left: 110px;
    }

    .home-block__image img {
        max-width: 15%;
        min-height: 15%;
    }

    .home-block__image2 img {
        max-width: 15%;
        min-height: 15%;
    }
}
/* ------------------------------------------------------------------------ */
@media (max-width: 479px) {
    .navbar-brand {
        width: 200px;
        text-align: right;
        margin-left: 0;
    }

    .vl {
        display: none;
    }

    .gl-top {
        margin-left: 0px;
    }

    .gl-top2 {
        margin-left: 0px;
    }

    .gl-end {
        margin-left: 0px;
    }

    .gl-projects-top {
        margin-left: 0px;
    }

    .gl-skills-end {
        margin-left: 0px;
    }

    .social {
        display: none;
    }

    .home-block {
        margin-left: 0;
    }

    .home__title {
        margin-left: 0;
        margin-top: 350px;
        margin-bottom: 40px;
    }

    .button1 {
        display: none;
    }

    .home-block__image img {
        margin-left: 5px;
        max-width: 60%;
        margin-top: 60px;
    }

    .home-block__image2 img {
        margin-left: 70px;
        max-width: 60%;
        margin-top: 90px;
    }

    .about-block {
        margin-left: 0;
    }

    .about__title {
        margin-left: 0;
    }

    .about__text p {
        margin-left: 0;
    }

    .skills-block {
        margin-left: 0;
    }

    .skills__title {
        margin-left: 0;
    }

    .skills-items {
        margin-left: 0;
    }

    .skills-list {
        padding-left: 0px;
    }

    .skills-col img {
        margin-bottom: 60px;
    }

    .projects-block {
        margin-left: 0;
    }

    .projects__title {
        margin-left: 0;
    }

    .project1 {
        margin-left: 0;
    }

    .project-block {
        margin-left: 40px;
    }
    .contacts-block {
        margin-left: 0;
    }

    .contacts__title {
        margin-left: 0;
    }

    .contacts__text p {
        margin-left: 0;
    }

    .contacts-items a {
        margin-left: 0px;
        justify-content: center;
        margin-bottom: 30px;
    }

    .contacts-items {
        margin-top: 0!important;
    }

    .footer__logo-img {
        display: block;
        margin: 40px auto 0;
        max-width: 110px;
        object-fit: contain;
    }

    .footer .footer__contacts {
        width: 100%;
        margin-left: 50px;
    }

    .footer .footer__logo, .footer .footer__text {
        align-items: center;
        display: flex;
        flex: auto;
        flex-direction: column;
        font-size: 16px;
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }

    .footer__text {
        margin-bottom: 20px;
        margin-top: 0;
        order: 3;
    }

    .footer__text p {
        margin-top: 0px;
    }

    .copyright {
        margin-top: 25px;
    }

}