:root {
  --white: #fff;
  --grey: #C6C6C6;
  --black: #000;
  --green: #58DD7E;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: 'Raleway', serif;

}

html,
body {
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
  color: var(--black);
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  background-color: var(--white);
  min-width: 320px;
  /* overflow: hidden; */
}

/* ------------------------------------------------------------------------ */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  text-align: center;
  width: 355px;
  color: var(--black);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 38px;

}

.navbar-nav a {
  text-align: center;
  width: 270px;
  color: var(--black);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
}

.navbar-nav a:hover {
  color: var(--grey);
}

.navbar-nav a:active {
  color: var(--black);
}

.navbar-expand-lg .navbar-collapse {

}

/* ------------------------------------------------------------------------ */
.button1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  color: var(--white);
  position: absolute;
  width: 120px;
  height: 120px;
  margin-left: 350px;
  margin-top: 80px;
  background: var(--black);
  border-radius: 75px;
}

.button1:hover {
  background: var(--green);
  color: var(--black);
  font-weight: 700;
}
/* ------------------------------------------------------------------------ */
.home__title {
  width: 540px;
  height: 128px;
  margin-top: 319px;
  margin-left: 130px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48.127px;
  line-height: 64px;
}

.home-block {
  margin-left: auto;
}

.home-block__image img {
  z-index: 2;
  position: absolute;
  width: 300px;
  height: 300px;
  margin-left: 635px;
  margin-top: 80px;
}

.home-block__image2 img {
  position: absolute;
  width: 300px;
  height: 300px;
  margin-left: 740px;
  margin-top: 145px;
}

.vl {
  position: absolute;
  width: 100%;
  height: 0px;
  margin-left: -355px;
  margin-top: 0px;
  border: 1px solid #000000;
  transform: rotate(90deg);
}

.vl-social {
  position: absolute;
  width: 200px;
  height: 0px;
  margin-left: 100px;
  margin-top: 100px;
  border: 1px solid #000000;
  transform: rotate(90deg);
}

.vl-social2 {
  position: absolute;
  width: 200px;
  height: 0px;
  margin-left: 100px;
  margin-top: 500px;
  border: 1px solid #000000;
  transform: rotate(90deg);
}

.gl-top {
  position: absolute;
  width: 75%;
  height: 0px;
  margin-left: 73px;
  margin-top: 0px;
  border: 1px solid #000000;
}

.gl-top2 {
  position: absolute;
  width: 75%;
  height: 0px;
  margin-left: 73px;
  margin-top: 30px;
  border: 1px solid #000000;
}

.gl-end {
  position: absolute;
  width: 75%;
  height: 0px;
  margin-left: 73px;
  margin-top: 50px;
  border: 1px solid #000000;
}
