:root {
  --white: #fff;
  --grey: #C6C6C6;
  --black: #000;
  --green: #58DD7E;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: 'Raleway', serif;

}

html,
body {
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
  color: var(--black);
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  background-color: var(--white);
  min-width: 320px;
  /* overflow: hidden; */
}

/* ------------------------------------------------------------------------ */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  text-align: center;
  width: 355px;
  color: var(--black);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 38px;

}

.navbar-nav {

}

.navbar-nav a {
  text-align: center;
  width: 270px;
  color: var(--black);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
}

.navbar-nav a:hover {
  color: var(--grey);
}

.navbar-nav a:active {
  color: var(--black);
}

.navbar-expand-lg .navbar-collapse {

}

/* ------------------------------------------------------------------------ */
.button1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  color: var(--white);
  position: absolute;
  width: 150px;
  height: 150px;
  margin-left: 350px;
  margin-top: 80px;
  background: var(--black);
  border-radius: 75px;
}

.button1:hover {
  background: var(--green);
  color: var(--black);
  font-weight: 700;
}

.button2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  color: var(--white);
  position: absolute;
  width: 150px;
  height: 150px;
  background: var(--black);
  border-radius: 75px;
}

.button2:hover {
  background: var(--green);
  color: var(--black);
  font-weight: 700;
}

.button3 {
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  gap: 10px;
  width: 126px;
  height: 35px;
  border: 2px solid var(--green);
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 10px;
  background-color: #fff;
}

/* ------------------------------------------------------------------------ */
.home__title {

  height: 128px;
  margin-top: 319px;
  margin-left: 130px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48.127px;
  line-height: 64px;
}

.home-block {
  margin-left: auto;
}

.home-block__image img {
  z-index: 2;
  position: absolute;
  max-width: 20%;
  min-height: 20%;
  margin-left: 635px;
  margin-top: 80px;
}

.home-block__image2 img {
  position: absolute;
  max-width: 20%;
  min-height: 20%;
  margin-left: 740px;
  margin-top: 145px;
}

.vl {
  position: fixed;
  width: 100%;
  height: 0px;
  margin-left: -355px;
  margin-top: 0px;
  border: 1px solid #000000;
  transform: rotate(90deg);
}
/* ------------------------------------------------------------------------ */
.vl-social {
  position: absolute;
  width: 200px;
  height: 0px;
  margin-left: 100px;
  margin-top: 100px;
  border: 1px solid #000000;
  transform: rotate(90deg);
}

.vl-social2 {
  position: absolute;
  width: 200px;
  height: 0px;
  margin-left: 100px;
  margin-top: 500px;
  border: 1px solid #000000;
  transform: rotate(90deg);
}

.gl-top {
  position: absolute;
  width: 75%;
  height: 0px;
  margin-left: 73px;
  margin-top: 0px;
  border: 1px solid #000000;
}

.gl-top2 {
  position: absolute;
  width: 75%;
  height: 0px;
  margin-left: 73px;
  margin-top: 30px;
  border: 1px solid #000000;
}

.gl-end {
  position: absolute;
  width: 75%;
  height: 0px;
  margin-left: 73px;
  margin-top: 50px;
  border: 1px solid #000000;
}

.gl-projects-top {
  position: absolute;
  width: 75%;
  height: 0px;
  margin-left: 73px;
  margin-top: 50px;
  border: 1px solid #000000;
}
/* ------------------------------------------------------------------------ */
.social {
  position: fixed;
}

.social-items {
  position: fixed;
  margin-left: 188px;
  margin-top: 235px;
  display: flex;
  flex-direction: column;

}

.social-item1 {
  margin-bottom: 25px;
}

.social-item2 {
  margin-bottom: 25px;
}
/* ------------------------------------------------------------------------ */
.about-block {
  margin-left: auto;
}

.about__title {
  margin-top: 70px;
  margin-left: 130px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.about__text {
  margin-top: 60px!important;
}

.about__text p {
  margin-left: 350px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}


/* ------------------------------------------------------------------------ */
.skills-block {
  margin-left: auto;
}

.skills__title {
  margin-top: 70px;
  margin-left: 130px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.gl-skills-end {
  position: absolute;
  width: 75%;
  height: 0px;
  margin-left: 73px;
  margin-top: 15px;
  border: 1px solid #000000;
}

.skills-list {
  padding-left: 60px;
  padding-top: 60px;
}

.skills-list h3{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
}

.skills-items {
  margin-left: 260px;
}

.skills-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.skills-col img {
  margin-bottom: 40px;
  width: 80%;
}

.button-skills {
  display: flex;
  justify-content: center;
  margin-left: 150px;
  margin-bottom: 100px;
}
/* ------------------------------------------------------------------------ */
.projects-block {
  margin-left: auto;
}
.projects__title {
  width: 123px;
  height: 38px;
  margin-top: 70px;
  margin-left: 130px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.project1 {
  margin-left: 365px;
}

 .project-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
   padding: 0!important;
   width: 283px!important;
  height: 420px;
  border: 2px solid #000000;
   margin-right: 30px;
   margin-top: 60px!important;
}

.project-tech {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
  height: 35px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.project-tech p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.project-block h2 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin-top: 20px;
  padding-left: 10px;
}

.project-description {
  padding-left: 10px;
}

.project-block a {
  text-decoration: none;
}
/* ------------------------------------------------------------------------ */
.footer {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Playfair Display';
  z-index: 4;
}

.footer__logo-img {
  height: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  object-fit: contain;
  margin-left: 170px;
}

.footer__text {
  margin-left: -130px;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  margin-top: 60px;
}

.footer__contacts {
  margin-top: 40px;
  margin-bottom: 40px;

}

.footer__phone {
  display: flex;
  flex-direction: row-reverse;
  width: 190px;
  justify-content: flex-end;
}

.footer__phone a {
  color: var(--white);
  text-decoration: none;
  margin-left: 10px;
}

.footer__phone a:hover {
  color: var(--green);
}

.footer__mail {
  display: flex;
  flex-direction: row-reverse;
  width: 190px;
  margin-top: 10px;
  justify-content: flex-end;
}

.footer__mail a {
  color: var(--white);
  text-decoration: none;
  margin-left: 10px;
}

.footer__mail a:hover {
  color: var(--green);
}