:root {
  --white: #fff;
  --grey: #C6C6C6;
  --black: #000;
  --green: #58DD7E;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
  color: var(--black);
  font-weight: 500;
  font-family: ;
  background-color: var(--white);
  min-width: 320px;
  /* overflow: hidden; */
}

/* ------------------------------------------------------------------------ */